# Ignore all worker services

# Ignore dependencies and environment files everywhere
**/node_modules/
**/.env
**/.venv/
**/venv/
**/env/
**/__pycache__/

# Ignore IDE settings and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore build artifacts
**/dist/
**/build/